.about .swiper-wrapper{
    align-items: center;
    display: flex;
    justify-items: center;
}
.gallery .swiper-wrapper{
    /*align-items: center;*/
    /*display: flex;*/
    /*justify-items: center;*/
}
.about .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.citations .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}